@charset "utf-8";

body {
	font-size: 12px;
	width: 800px;
	border: thin #F0F0F0 solid;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}

h1 {
	background-color:#DBEEF4;
	margin: 20px 410px 20px 20px;
}

li {
	margin: 8px;
}

ul {
	margin: 8px 0px 8px 0px;
}

a img {
  border-style:none;
}

img#counter {
	margin:10px;
	position: absolute;
}

div.section {
	margin-left: 20px;
	margin-right: 20px;
}

div#big-thumbnail {
	float: right;
	margin: 0px 20px 0px 20px;
}
